@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    scale: 0.5;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content-layout {
  min-height: 100vh;
}

.sidebar {
  min-height: 100vh;
  background-color: white;
}

.title {
  text-align: center;
  color: whitesmoke;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  margin-top: 5rem;
}

.table {
  width: 100vh;
}

.todo-input {
  width: 500px;
  height: 50px;
}

.submit-btn {
  width: 20vh;
}
